spring:
  application:
    name: lost-and-found-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/lost_and_found_backend
    username: lafb_admin
    password: passwordAdmin1
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
logging:
  level:
    org.springframework.security: DEBUG
springdoc:
  api-docs:
    path: /api-docs
    version: openapi_3_1
  swagger-ui:
    path: /swagger-ui.html
